# Ignorar backend y dependencias
backend/
node_modules/

# Ignorar archivos comprimidos y grandes
*.rar
*.zip
*.tar
*.7z
*.pack

# Ignorar logs y archivos temporales
*.log
*.tmp

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
